/* Write your CSS here */
.avatar {
  height: 100px;
  width: 100px;
}
.repo-item {
  height: 300px;
  width: 25%;
  background-color: #f8f8ff;
  margin-right: 15px;
  margin-bottom: 15px;
  padding: 20px 30px 10px 30px;
  border-radius: 20px;
}

.repo-name {
  color: #e73959;
  font-weight: 600;
  font-size: 22px;
}
.repo-data-container {
  display: flex;
  height: 20px;
  margin-bottom: 10px;
}
.repo-icon {
  height: 100%;
  margin-right: 10px;
}
.repo-data {
  margin: 0;
  font-weight: 600;
  color: grey;
}
